@{
    ViewData["Title"] = "Accueil";
    Layout = "_Layout";
}

<h1 class="text-center mt-5">API BANKER</h1>

<div class="text-center my-5">
    <img class="img-fluid" src="https://static.latribune.fr/full_width/1409529/bank.jpg" alt="">
</div>

<hr />

<h3 class="text-center mb-2">Objectif du projet</h3>

<p class="text-center my-5">Créer une API REST permettant de gérer des transferts bancaires entre des comptes clients.</p>

<hr />

<h3 class="text-center my-5">Technologies utilisées</h3>

<div class="card-deck my-5">
    <div class="card">
        <img src="https://blog.cellenza.com/wp-content/uploads/2017/02/CSharpLogo.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">C#</h5>
            <p class="card-text">C# est un langage de programmation orientée objet, commercialisé par Microsoft depuis 2002 et destiné à développer sur la plateforme Microsoft .NET.</p>
        </div>
    </div>
    <div class="card">
        <img src="https://flashweb.be/wp-content/uploads/2016/11/NET-Framework-lhabilit%C3%A9-de-r%C3%A9pondre-aux-besoins-de-d%C3%A9veloppement-Blog-Flashweb-Belgique.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">ASP.NET</h5>
            <p class="card-text">ASP.NET est un framework permettant de générer à la demande des pages web, lancé par Microsoft en juillet 2000, et utilisé pour mettre en œuvre des applications web.</p>
        </div>
    </div>
    <div class="card">
        <img src="https://www.tableau.com/sites/default/files/solutions/thumbnails/sql-server.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">SQL SERVER</h5>
            <p class="card-text">Microsoft SQL Server est un système de gestion de base de données en langage SQL incorporant entre autres un SGBDR développé et commercialisé par la société Microsoft.</p>
        </div>
    </div>
</div>